@import "bootstrap.min.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,600|Playfair+Display:400,400italic|Open+Sans+Condensed:300,700);
/*
----------------------------------------------------------------
	Resets
---------------------------------------------------------------- */

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*
----------------------------------------------------------------
	Typography
---------------------------------------------------------------- */
#story-page-producer-name{
  padding-top: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}
h1 {
  color: #587F6A;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

h2 {
  color: #587F6A;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

p{
  font-family: 'Playfair Display', serif;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}

a {
    color: #587F6A;
}

a:visited {
    color: #32483C;
}

.producer-name{
  color: #000000;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;
}

.subject-name {
  color: #000000;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

.town-name{
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

/*
----------------------------------------------------------------
	Media
---------------------------------------------------------------- */

img,
iframe,
video,
svg {
    display: block;
    max-width: 100%;
}

/*
----------------------------------------------------------------
	Navigation
---------------------------------------------------------------- */

header{
  background: #f6f5f0;
}

nav{
  float: left;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.primary-nav {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.primary-nav li {
  float: left;
  list-style: none;
}

#mylife-mytown-nav{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: #587F6A;
}

footer{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;
  text-align: center;
  padding-top: 20px;
}

/*
----------------------------------------------------------------
	Grid
---------------------------------------------------------------- */

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.body-type {
  padding-left: 10px;
  padding-right: 10px
}
