@import "bootstrap.min.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700,400|Playfair+Display:400,400italic,700,700italic);

ul {
  margin: 0;
  padding: 0;
}

body {
  background: #f6f5f0;
}

h1 {
  color: #587F6A;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  color: #587F6A;
  font-family: 'Open Sans', sans-serif;
}

p{
  font-family: 'Playfair Display', serif;
}

img,
iframe,
video,
svg {
    display: block;
    max-width: 100%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav{
  float: left;
  padding-top: 40px;
  padding-bottom: 40px;
}

.primary-nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

.primary-nav li {
  float: left;
  list-style: none;
}
