@import "bootstrap.min.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,600|Playfair+Display:400,400italic|Open+Sans+Condensed:300,700);
/*
----------------------------------------------------------------
	Resets
---------------------------------------------------------------- */

ul {
  margin: 0;
  padding: 0;
}

/*
----------------------------------------------------------------
	Typography
---------------------------------------------------------------- */

body {
  background: #f6f5f0;
}

h1 {
  color: #587F6A;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  color: #587F6A;
  font-family: 'Open Sans', sans-serif;
}

p{
  font-family: 'Playfair Display', serif;
}

a {
    color: #587F6A;
}

a:visited {
    color: #32483C;
}

.producer-name{
  color: #000000;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: bold 700;
}


.Subject-name {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-style: light 300;
}

/*
----------------------------------------------------------------
	Media
---------------------------------------------------------------- */

img,
iframe,
video,
svg {
    display: block;
    max-width: 100%;
}

/*
----------------------------------------------------------------
	Navigation
---------------------------------------------------------------- */

nav{
  float: left;
  padding-top: 40px;
  padding-bottom: 40px;
}

.primary-nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

.primary-nav li {
  float: left;
  list-style: none;
}

/*
----------------------------------------------------------------
	Grid
---------------------------------------------------------------- */

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.body-type {
  padding-left: 40px;
  padding-right: 40px
}
